ClientForm/Connected Services/FoundamentalServiceReference/Foundamental.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFoundamentalService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFoundamentalService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonData" nillable="true" type="tns:PersonData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonData" nillable="true" type="tns:ArrayOfPersonData" />
  <xs:complexType name="PersonData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonData" nillable="true" type="tns:PersonData" />
</xs:schema>