ClientForm/Connected Services/FoundamentalServiceReference/Foundamental.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Foundamental" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49308/Foundamental.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49308/Foundamental.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49308/Foundamental.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFoundamentalService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoundamental_GetAllPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPerson" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_GetAllPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_DeletePersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonById" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_DeletePersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_SendMessageToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToClient" />
  </wsdl:message>
  <wsdl:message name="IFoundamental_SendMessageToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoundamental">
    <wsdl:operation name="GetAllPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoundamental/GetAllPerson" message="tns:IFoundamental_GetAllPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoundamental/GetAllPersonResponse" message="tns:IFoundamental_GetAllPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoundamental/AddPerson" message="tns:IFoundamental_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoundamental/AddPersonResponse" message="tns:IFoundamental_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoundamental/UpdatePerson" message="tns:IFoundamental_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoundamental/UpdatePersonResponse" message="tns:IFoundamental_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoundamental/DeletePersonById" message="tns:IFoundamental_DeletePersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoundamental/DeletePersonByIdResponse" message="tns:IFoundamental_DeletePersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoundamental/GetPersonById" message="tns:IFoundamental_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoundamental/GetPersonByIdResponse" message="tns:IFoundamental_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoundamental/SendMessageToClient" message="tns:IFoundamental_SendMessageToClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoundamental/SendMessageToClientResponse" message="tns:IFoundamental_SendMessageToClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoundamental" type="tns:IFoundamental">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPerson">
      <soap:operation soapAction="http://tempuri.org/IFoundamental/GetAllPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IFoundamental/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IFoundamental/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonById">
      <soap:operation soapAction="http://tempuri.org/IFoundamental/DeletePersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap:operation soapAction="http://tempuri.org/IFoundamental/GetPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToClient">
      <soap:operation soapAction="http://tempuri.org/IFoundamental/SendMessageToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Foundamental">
    <wsdl:port name="BasicHttpBinding_IFoundamental" binding="tns:BasicHttpBinding_IFoundamental">
      <soap:address location="http://localhost:49308/Foundamental.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>