ClientHandler/Connected Services/ReciepeProvider/ReciepeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAdapter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAdapter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipe" nillable="true" type="tns:Recipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipe" nillable="true" type="tns:ArrayOfRecipe" />
  <xs:complexType name="Recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="recipe_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recipe_id" type="xs:int" />
      <xs:element minOccurs="0" name="recipe_instructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recipe_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipe" nillable="true" type="tns:Recipe" />
</xs:schema>