Client/Connected Services/AdventureWorksService/DataProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DataProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63441/DataProvider.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63441/DataProvider.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63441/DataProvider.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataProvider_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataProvider">
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetCustomerById" message="tns:IDataProvider_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetCustomerByIdResponse" message="tns:IDataProvider_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetCustomers" message="tns:IDataProvider_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetCustomersResponse" message="tns:IDataProvider_GetCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataProvider" type="tns:IDataProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataProvider">
    <wsdl:port name="BasicHttpBinding_IDataProvider" binding="tns:BasicHttpBinding_IDataProvider">
      <soap:address location="http://localhost:63441/DataProvider.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>