WindowsFormsApp1/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:float" />
        <xs:element minOccurs="0" name="n2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNumbersResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>